body {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
}

header {
    padding: 20px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 10px;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

video {
    max-width: 80%;
    height: auto;
    width: 400px;
    height: 700px;
    object-fit: cover;
}

section {
    margin: 20px 0;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    font-size: 21px;
    color: gray;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

h3 {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}